html {
  height: 100%;
}

body {
  background: black;
}

.cartButton {
  text-align: center;
  white-space: nowrap;
  margin: auto;
  color: #76b900;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
}

.priceTag {
  width: 100%;
  display: flex;
  align-items: flex-end;
  color: white;
}

li {
  list-style: none;
}

.drawer-button {
  text-align: center;
  white-space: nowrap;
  margin: auto;
  color: #76b900;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  font-size: 16px;
  
}

button:disabled {
  color: #666666;
  cursor: default;
}




.drawer-cart[animation="1"] {

  -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}







@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
